.slider {
  width: 600px;
}

.axis path,
.axis line {
  stroke: black;  
}
 
path {
    stroke-width: 1;
    fill: none;
}
 
.line {
  stroke: red;
  stroke-width: 5;
  opacity: 0.6;
}

.line_1 {
  stroke: green;
  stroke-width: 5;
  opacity: 0.6;
}

.bar {
  fill: red;
  opacity: 0.8;
}

.area {
  fill: lightsteelblue;
  opacity: 0.5;
}

.x-axis, .y-axis {
  font-size: 1em;
  font-family: sans-serif;
}


div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 28px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}


/* styling the slider */

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #00274C;  /* Michigan Blue */
  margin-top: -6px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}