@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body {
	font-family: 'Roboto', serif;
	font-size: 16pt;
	line-height: 140%;
	text-align: left;
	margin: 0;
}
.container {
	width: 800px;
	margin: 0px auto;
	padding-top: 0px;
	padding-bottom: 20px;
}
header {
	padding-left: 10px;
	display: flex;
}
main {
	padding: 25px 10px 0px;
	clear: both;
}

h2 {
	text-align: center;
	color: #00274C;
}

li {
	padding: 2px;
}
a:link, a:visited, a:active, a:hover {
	color: #0645AD;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.button:hover {
	color: white;
	background-color: #0645AD;
}

.dist-list {
	text-align: left;
	padding-left: 50px;
}