@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	font-family: 'Roboto', serif;
	text-align: center;
	padding-bottom: 60px;
}

.container {
	width: 750px;
	margin: 0px auto;
	padding-top: 0px;
	padding-bottom: 20px;
}

.description {
	color: blue;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 0px;
}

.formula {
	font-size: 16pt;
	padding-top: 50px;
}

.slider-label {
	font-size: 16pt;
	padding-top: 20px;
	padding-bottom: 10px;
  }

.slider-container {
	margin-bottom:10px;
  }


  /* styling the slider */

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  background: #ddd;
  border: none;
  border-radius: 8px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #00274C;
  margin-top: -11px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}