@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	font-family: 'Roboto', serif;
	text-align: center;
	padding-bottom: 60px;
}

.container {
	width: 750px;
	margin: 0px auto;
	padding-top: 0px;
	padding-bottom: 20px;
}

.description {
	color: blue;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 0px;
}

.formula {
	font-size: 16pt;
	padding-top: 50px;
}

.slider-label {
	font-size: 16pt;
	padding-bottom: 10px;
  }

.slider-container {
	padding-bottom: 20px;
  }
